.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
}

.listItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
}

.listItem::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.listItem > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .list {
    margin-top: 25px;
  }
}
