.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.albumsGrid {
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, 275px);
}

.album {
  max-width: 275px;
}

.albumInfo {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: calc(100% - 25px);
  left: 12.5px;
  margin-top: 5px;
}

.link {
  font-weight: 500;
}

.trackLink {
  color: white;
}

.artistLink {
  margin-top: 4px;
  font-size: 0.75em;
}

